rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /profile_photos/{userId}.jpg {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /chat_media/{convId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
        && request.resource.size < 50 * 1024 * 1024;
    }

    match /status_media/{userId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId
        && request.resource.size < 30 * 1024 * 1024;
    }

    match /voice/{convId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
        && request.resource.size < 10 * 1024 * 1024;
    }
  }
}
